*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    color: #09f755;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.8rem;

    .main_heading{
        font-family: 'Roboto', sans-serif;
    }

    .menu_button{
        div{
            background-color: white;
            // width: 1.25rem;
            height: 0.1rem;
            margin: 0.25rem;
        }

        .first_line {
            width: 0.6rem;
        }

        .second_line {
            width: 0.9rem;
        }

        .third_line {
            width: 1.2rem;
        }
    }
}

.main_content{
    padding: 17.5vh 10vw;
    position: relative;

    div{
        color: white;
    }
    .first_text{
        font-family: 'Roboto Mono', monospace;
        position: relative;
        width : max-content;
    }
    .first_text::before,.first_text::after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        // background-color: black;
    }
    .first_text::before{
        background-color: black;
        animation: typewriter 5s steps(14) 1s forwards;
    }
    .first_text::after{
        width: 0.1em;
        height: 1em;
        background-color: white;
        animation: typewriter 5s steps(14) 1s forwards,
                    blink 0.7143s 1s infinite;
    }
    .second_text{
        padding: 0.5rem 0;
        font-size: 7em;
        font-family: 'Roboto', sans-serif;
        opacity: 0;
        transform: translateY(100%);
        animation: moveup 2s ease 7s forwards;
    }

    .third_text {
        transform: translateY(100%);
        opacity: 0;
        animation: moveup 2s ease-in-out 10s forwards;
    }

}

@keyframes typewriter {
    to{
        left : 100%;
    }
}

@keyframes blink {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes moveup {
    to{
        transform: translateY(0);
        opacity: 1;
    }
}